.section-two {
  /* display: flex; */
  margin-top: 0;
  width: 100%;
  margin: auto;
  background: url("../images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;

}
.section-two-left {
  width: 55%;
}
.section-two-right {
  width: 45%;
}
.section-two-right img {
  width: 100%;
}
.section-two-left h3 {
  font-family: Raleway;
  font-size: 38px;
  font-weight: 700;
  width: 89%;
  line-height: 65px;
  color: hsl(243, 87%, 12%);
}
.section-two-container {
  width: 90%;
  margin: auto;
  display: flex;
}

.arrow-div {
  display: flex;
  align-items: center;
  font-size: 25px;
  /* color: Cyan: hsl(170, 45%, 43%) */
}
.arrow-div a {
  text-decoration: none;
  margin-right: 8px;
  color: Cyan;
}
.arrow-div img {
  width: 35px;
  color: Cyan;
}
.testimonial {
  /* border: 1px solid blue; */
  width: 45%;
  margin-top: 50px;
  font-size: 17px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 8px 8px rgba(178, 176, 176,0.1);
  margin-bottom: 50px;
  
  
}
.testimonial-identity {
  display: flex;
  width: 100%;
  align-items: center;
}
.testimonial-pic {
  width: 15%;
  height: 45px;
  border-radius: 40px;
  margin-right: 8px;
}
.testimonial-name {
  font-weight: 700;
  margin-bottom: 5px;
}
.testimonial-position{
margin-top: 0;
font-size: 13px;
}
@media screen and (max-width: 600px) {
  .section-two-container{
    flex-direction: column;
    width: 100%;
  }
  .btn-container{
    flex-direction: column;
    width:90%;
    justify-content: center;
    align-items: center;
  }
  .mail-btn,.start-btn{
    width:70%;
  }
}

